<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.web>
        <customErrors mode="Off"/>
        <compilation debug="true" />

       <authentication mode="Forms">
            <forms name="TamAuth" path="/" 
                loginUrl="login.aspx" protection="All" timeout="90">
                <credentials passwordFormat="Clear">
                    <user name="tekhedd" password="f00" />
                    <user name="sue" password="12345" />
                </credentials>
            </forms>
        </authentication>
        <authorization>
            <deny users="?" />
        </authorization>

    </system.web>

    <appSettings>

        <!-- You will need to point this at your local player -->

        <!-- Make sure the protocol (tcp/http/etc) is configured below
           - in the system.runtime.remoting section.
          -->
        <add key="ServerUrl"
             value="tcp://localhost:6543/Engine" />

        <add key="ListenUrl"
             value="http://tekhedd.is-a-geek.net:8000/tamjb.ogg.m3u" />

	<add key="MonoServerDefaultIndexFiles"
	     value="index.aspx, index.html" />
    </appSettings>

    <system.runtime.remoting>
        <application>
            <channels>
                <channel ref="tcp" timeout="35000">
                    <clientProviders>
                        <formatter ref="binary" />
                    </clientProviders>
                </channel>
            </channels>
        </application>
    </system.runtime.remoting>
</configuration>
