body {
  background-color: #3f3f3f;
  color: #ffffff;
}

div.header
{
  text-align: center;
  margin-bottom: 0.7em;
  border-bottom: thin white solid;
}

div.little_paragraph
{
  text-align: justify;
  margin-left: 3em;
  margin-right: 3em;
  margin-top: 0.2em;
  margin-bottom: 0.3em;
}

a:link     { 
  text-decoration: none; 
  font-weight: bolder;
  color: #afafaf;
}
a:visited  { 
  text-decoration: none; 
  font-weight: bolder;
  color: #afafaf;
}

a:active   { 
  text-decoration: none; 
  font-weight: bolder;
  color: #afafaf;
}
a:hover    { 
  text-decoration:underline;
  font-weight: bolder;
  color: #ffffff; 
}

div.footer
{
  margin-top: 0.6em;
  border-top: thin white solid;
  text-align: center;
}

